/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #FDFFD5;
  color: #1E3706;
  line-height: 1.6;
}

/* Cabeçalho */
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #B1D48C;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
    height: 50px;
    width: auto;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.25)); /* sombra leve */
}

.nav1 a {
  margin-left: 20px;
  font-weight: 600;
  color: #1E3706;
  transition: color 0.3s ease;
}

.nav1 a:hover,
.nav1 .ativo {
  color: #fff;
}


/* Rodapé */
.logoFooter {
  background-color: #B1D48C;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.logoFooter ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.logoFooter a {
  color: #fff;
  font-size: 0.9rem;
}

.logoFooter a:hover {
  text-decoration: underline;
}